* {
	margin: 0;
	padding: 0;
}

footer {
	padding-left: 9%;
	padding-right: 9%;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	background-color: #756382;
	color: white;
}

footer #footer {
	float: right;
}
